

  /* Conteneur principal */
  .container {
    max-width: 800px;
    margin: 40px auto;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 30px;
  }

  /* Titre */
  h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
  }

  /* Chaque réservation */
  .reservation {
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #e5e5e5;
  }

  .reservation:last-child {
    border-bottom: none;
  }

  .reservation-details {
    flex-grow: 1;
  }

  .reservation-date {
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
  }

  .reservation-info {
    color: #777;
  }

  .reservation-actions {
    display: flex;
    gap: 10px;
  }

  .btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
  }

  .btn:hover {
    background-color: #0056b3;
  }
  body {
    background-color: #001b4d;
    color: #fff;
  }
  .navbar {
    background-color: #001b4d;
  }
  .navbar-brand, .nav-link {
    color: #fff !important;
  }
  .navbar-nav .nav-link:hover {
    color: #ccc !important;
  }
  .navbar-brand {
    margin-right: 21rem;
  }
  .back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 4px;
  }
  
  .back-to-top:hover {
    background-color: #0056b3;
  }

  .breadcrumb {
    background-color: #001b4d;
    color: white;
    padding: 0.75rem 1rem; /* Ajustement des marges intérieures pour l'espacement */
    border-radius: 0.25rem; /* Pour arrondir les coins */
  }
  
  .breadcrumb-item a {
    color: white; /* Couleur du lien */
  }
  
  .breadcrumb-item.active {
    color: white; /* Couleur du texte actif */
  }
  .breadcrumb-item a:hover {
    color: #079cff; /* Couleur du texte lors du survol */
    text-decoration: none;
  }
  .back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 4px;
  }
  
  .back-to-top:hover {
    background-color: #0056b3;
  }
  
 